body, div{
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}


.c1,.c2,.c3,.c4,.c5,.c6,.c7{
    width: 300px;
    border: 1px solid black;
    min-width: 300px;

}