.c1{
     width: 14%;
    order: 6;
 }

.c2{
    width: 14%;
    order: 2;
}

.c3{
    width: 14%;
    order: 7;
}

.c4{
    width: 14%;
    order: 5;
}

.c5{
    width: 14%;
    order: 4;
}

.c6{
    width: 14%;
    order: 3;
}

.c7{
    width:14%;
    order: 1;
}