ul{
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}
li{
    margin: 5px;
}
nav{
    border: 2px solid red;
}

section{

    flex-flow: row wrap;
    margin: 5px;
}
main{
    border: red 2px solid;
}
body{
    display: flex;
    flex-flow: row wrap;
}