div{
    /*width: 400px;*/
    height: 400px;
    border: 1px solid red;
    background-image: url("/chapter8_essential_in_CSS/1_border_property/img/123.jpg");
    background-size: cover ;
    background-repeat: no-repeat ;
    display: none;
    display: inline;
    display: inline-block;
}

.dogone{
    width: 400px;
    height: 400px;
    border: 1px solid red;
    border-radius: 100% ;

}