header, nav, article, aside, footer{
    border: 1px solid red;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
}
p{
    text-align: center;
    font-size: 1rem;
}
p:hover{
    background-color: #992255;
}